html 
{
    background-color: rgb(88, 53, 37);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
}

img.recpic
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
}

h1 
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: 600;
    color: whitesmoke;
}

h4,
h5
{
    color: whitesmoke;
}

.descript
{
    color: silver;
}

a:link,
a:hover,
a:visited
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

a:link
{
    color: silver;
}

a:hover 
{
    color: rgb(165, 165, 165);
}

a:visited
{
    color: slategrey;
}

li
{
    color: silver;
}